# Configuration file

general {
    # When held in the off-hand, this item makes modifiers change stats in the opposite direction. [default: minecraft:quartz]
    S:"Inverse Item"=minecraft:quartz

    # The durability damage dealt to an item that silk touches a spawner. [range: 0 ~ 100000, default: 100]
    I:"Spawner Silk Damage"=100

    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch. [range: -1 ~ 127, default: 1]
    I:"Spawner Silk Level"=1
}


ignore_spawn_cap {
    # The item that applies this modifier. [default: minecraft:chorus_fruit]
    S:item=minecraft:chorus_fruit
}


ignore_spawn_conditions {
    # The item that applies this modifier. [default: minecraft:dragon_egg]
    S:item=minecraft:dragon_egg
}


max_delay {
    # The item that applies this modifier. [default: minecraft:clock]
    S:item=minecraft:clock

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 10000]
    I:max_value=10000

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 10]
    I:min_value=10

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -10]
    I:value=-10
}


max_nearby_entities {
    # The item that applies this modifier. [default: minecraft:ghast_tear]
    S:item=minecraft:ghast_tear

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 40]
    I:max_value=40

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


min_delay {
    # The item that applies this modifier. [default: minecraft:sugar]
    S:item=minecraft:sugar

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 10000]
    I:max_value=10000

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 5]
    I:min_value=5

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: -5]
    I:value=-5
}


player_activation_range {
    # The item that applies this modifier. [default: minecraft:prismarine_crystals]
    S:item=minecraft:prismarine_crystals

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 50]
    I:max_value=50

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 0]
    I:min_value=0

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 2]
    I:value=2
}


redstone_control {
    # The item that applies this modifier. [default: minecraft:comparator]
    S:item=minecraft:comparator
}


require_players {
    # The item that applies this modifier. [default: minecraft:nether_star]
    S:item=minecraft:nether_star
}


spawn_count {
    # The item that applies this modifier. [default: minecraft:fermented_spider_eye]
    S:item=minecraft:fermented_spider_eye

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 20]
    I:max_value=20

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:min_value=1

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg. [default: ]
    S:"Banned Mobs" <
        resourcefulbees:allthemodium_bee
        resourcefulbees:aluminum_bee
        resourcefulbees:aquamarine_bee
        resourcefulbees:awakened_bee
        resourcefulbees:beediddy_bee
        resourcefulbees:beeper_bee
        resourcefulbees:blazing_bee
        resourcefulbees:certus_bee
        resourcefulbees:chaotic_bee
        resourcefulbees:coal_bee
        resourcefulbees:cobalt_bee
        resourcefulbees:cobbee_bee
        resourcefulbees:copper_bee
        resourcefulbees:cotton_candy_bee
        resourcefulbees:crimson_iron_bee
        resourcefulbees:cropy_bee
        resourcefulbees:dense_copper_bee
        resourcefulbees:dense_gold_bee
        resourcefulbees:dense_iron_bee
        resourcefulbees:dense_lead_bee
        resourcefulbees:dense_netherite_bee
        resourcefulbees:dense_nickel_bee
        resourcefulbees:dense_osmium_bee
        resourcefulbees:dense_platinum_bee
        resourcefulbees:dense_silver_bee
        resourcefulbees:dense_tin_bee
        resourcefulbees:dense_uranium_bee
        resourcefulbees:dense_zinc_bee
        resourcefulbees:diamond_bee
        resourcefulbees:dirty_bee
        resourcefulbees:draconium_bee
        resourcefulbees:dragonic_bee
        resourcefulbees:emerald_bee
        resourcefulbees:ender_bee
        resourcefulbees:fluorite_bee
        resourcefulbees:ghastly_bee
        resourcefulbees:glowing_bee
        resourcefulbees:gold_bee
        resourcefulbees:gravely_bee
        resourcefulbees:guardian_bee
        resourcefulbees:icey_bee
        resourcefulbees:iron_bee
        resourcefulbees:kitten_bee
        resourcefulbees:kobee_beef_bee
        resourcefulbees:lapis_bee
        resourcefulbees:lava_bee
        resourcefulbees:lead_bee
        resourcefulbees:leafy_bee
        resourcefulbees:lumber_bee
        resourcefulbees:magma_bee
        resourcefulbees:mana_bee
        resourcefulbees:mason_bee
        resourcefulbees:mystical_bee
        resourcefulbees:netherite_bee
        resourcefulbees:nickel_bee
        resourcefulbees:obsidian_bee
        resourcefulbees:oreo_bee
        resourcefulbees:osmium_bee
        resourcefulbees:papa_beemeritus_bee
        resourcefulbees:platinum_bee
        resourcefulbees:quartz_bee
        resourcefulbees:redstone_bee
        resourcefulbees:rgbee_bee
        resourcefulbees:salt_baee_bee
        resourcefulbees:sandy_bee
        resourcefulbees:silver_bee
        resourcefulbees:slimy_bee
        resourcefulbees:soul_lava_bee
        resourcefulbees:spider_bee
        resourcefulbees:spooky_bee
        resourcefulbees:stan_bee
        resourcefulbees:starry_bee
        resourcefulbees:stoned_bee
        resourcefulbees:tin_bee
        resourcefulbees:unobtainium_bee
        resourcefulbees:uraninite_bee
        resourcefulbees:uranium_bee
        resourcefulbees:vibranium_bee
        resourcefulbees:water_bee
        resourcefulbees:wither_bee
        resourcefulbees:withered_bee
        resourcefulbees:yeti_bee
        resourcefulbees:zinc_bee
        resourcefulbees:zombee_bee
        iceandfire:lightning_dragon
        iceandfire:fire_dragon
        iceandfire:ice_dragon
        iceandfire:dragon_egg
        iceandfire:myrmex_egg
        iceandfire:myrmex_queen
        iceandfire:myrmex_royal
        iceandfire:myrmex_sentinel
        iceandfire:myrmex_soldier
        iceandfire:myrmex_swarmer
        iceandfire:myrmex_worker
        artifacts:mimic
     >
}


spawn_range {
    # The item that applies this modifier. [default: minecraft:blaze_rod]
    S:item=minecraft:blaze_rod

    # The max value of this stat. [range: -2147483648 ~ 2147483647, default: 32]
    I:max_value=32

    # The min value of this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:min_value=1

    # The amount each item changes this stat. [range: -2147483648 ~ 2147483647, default: 1]
    I:value=1
}


